## to create a python virtual environment here: virtualenv .
## to activate it (from bash): source bin/activate
## to then install the packages into it: pip3 install flask flask_sqlalchemy
/bin/
/env/
/lib/
/pyvenv.cfg
/include/
